**Задание 1:** Даны значения зарплат из выборки выпускников: 100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 24, 57, 55, 70, 75, 65, 84, 90, 150. Посчитать (желательно без использования статистических методов наподобие std, var, mean) среднее арифметическое, среднее квадратичное отклонение, смещенную и несмещенную оценки дисперсий для данной выборки.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
df = [100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 24, 57, 55, 70, 75, 65, 84, 90, 150]
df = pd.DataFrame(df)
df

      0
0   100
1    80
2    75
3    77
4    89
5    33
6    45
7    25
8    65
9    17
10   30
11   24
12   57
13   55
14   70
15   75
16   65
17   84
18   90
19  150

In [10]:
mean = df.sum() / df.count()

mean

0    65.3
dtype: float64

In [11]:
df.mean()

0    65.3
dtype: float64

In [13]:
std = np.sqrt(((df - df.mean())**2).sum() / df.count())
std

0    30.823854
dtype: float64

In [14]:
df.std(ddof=0)

0    30.823854
dtype: float64

In [15]:
variance_1 = ((df - df.mean())**2).sum() / df.count()
variance_1

0    950.11
dtype: float64

In [16]:
variance_2 = ((df - df.mean())**2).sum() / (df.count() - 1)
variance_2

0    1000.115789
dtype: float64

In [17]:
df.var(ddof=0)

0    950.11
dtype: float64

In [18]:
df.var(ddof=1)

0    1000.115789
dtype: float64

**Задание 2:** В первом ящике находится 8 мячей, из которых 5 - белые. Во втором ящике - 12 мячей, из которых 5 белых. Из первого ящика вытаскивают случайным образом два мяча, из второго - 4. Какова вероятность того, что 3 мяча белые?

In [19]:
from math import factorial
def combinations(n, k):
    return int(factorial(n) / (factorial(k) * factorial(n - k)))

In [27]:
(combinations(5, 2)/combinations(8, 2)) * (combinations(5, 1) * combinations(7, 3) / combinations(12, 4))+\
(combinations(5, 1) * combinations(3, 1) / combinations(8, 2)) * (combinations(5, 2) * combinations(7, 2) / combinations(12, 4)) +\
(combinations(3, 2) / combinations(8, 2)) * (combinations(5, 3) * combinations(7, 1) / combinations(12, 4))

0.3686868686868687

**Задание 3:** На соревновании по биатлону один из трех спортсменов стреляет и попадает в мишень. Вероятность попадания для первого спортсмена равна 0.9, для второго — 0.8, для третьего — 0.6. Найти вероятность того, что выстрел произведен: a). первым спортсменом б). вторым спортсменом в). третьим спортсменом?

Воспользуемся формулой Байеса:

a - попадание в мишень

b_1 - выстрел перовго

b_2 - выстрел второго

b_3 - выстрел третьего

In [37]:
p_b = 1/3

In [38]:
p_a = 0.9 * p_b + 0.8 * p_b + 0.6 * p_b

**1)** Найти вероятность того, что выстрел произведен: a). первым спортсменом:

In [39]:
p_b_1 = (p_b * 0.9)/p_a
p_b_1

0.391304347826087

**2)** Найти вероятность того, что выстрел произведен: б). вторым спортсменом:

In [40]:
p_b_2 = (p_b * 0.8)/p_a
p_b_2

0.3478260869565218

**3)** Найти вероятность того, что выстрел произведен: в). третьим спортсменом:

In [41]:
p_b_3 = (p_b * 0.6)/p_a
p_b_3

0.2608695652173913

**Задание 4:** В университет на факультеты A и B поступило равное количество студентов, а на факультет C студентов поступило столько же, сколько на A и B вместе. Вероятность того, что студент факультета A сдаст первую сессию, равна 0.8. Для студента факультета B эта вероятность равна 0.7, а для студента факультета C - 0.9. Студент сдал первую сессию. Какова вероятность, что он учится: a). на факультете A б). на факультете B в). на факультете C?

a - сессия сдана

b_1 - сессия сдана на факультете А

b_2 - сессия сдана на факультете B

b_3 - сессия сдана на факультете C

In [42]:
p_b = 1/(1+1+2)

In [44]:
p_a = (0.8 * p_b) + (0.7 * p_b) + (0.9 * p_b * 2)
p_a

0.825

**1)** Какова вероятность, что он учится: a). на факультете A:

In [48]:
p_b_1 = (p_b * 0.8)/p_a
p_b_1

0.24242424242424246

**2)** Какова вероятность, что он учится: б). на факультете B:

In [49]:
p_b_2 = (p_b * 0.7)/p_a
p_b_2

0.21212121212121213

**3)** Какова вероятность, что он учится: в). на факультете C:

In [50]:
p_b_3 = (p_b * 0.9 * 2)/p_a
p_b_3

0.5454545454545455

**Задание 5:** Устройство состоит из трех деталей. Для первой детали вероятность выйти из строя в первый месяц равна 0.1, для второй - 0.2, для третьей - 0.25. Какова вероятность того, что в первый месяц выйдут из строя: а). все детали б). только две детали в). хотя бы одна деталь г). от одной до двух деталей?

In [51]:
P_a = 0.1
P_b = 0.2
P_c = 0.25

**1)** Какова вероятность того, что в первый месяц выйдут из строя: а). все детали:

In [57]:
P_all = P_a * P_b * P_c
P_all

0.005000000000000001

**2)** Какова вероятность того, что в первый месяц выйдут из строя: б). только две детали:

In [63]:
P_2 = P_a * P_b * (1-P_c) + P_a * P_c * (1-P_b) + P_b * P_c * (1-P_a)
P_2

0.08000000000000002

**3)** Какова вероятность того, что в первый месяц выйдут из строя: в). хотя бы одна деталь:

In [66]:
P_not_Less_1 = 1 - ((1-P_c)*(1-P_b)*(1-P_a))
P_not_Less_1

0.45999999999999985

**4)** Какова вероятность того, что в первый месяц выйдут из строя: г). от одной до двух деталей:

In [70]:
P_1_2 = (P_not_Less_1 - P_all)
P_1_2

0.45499999999999985